@font-face {
	font-family: PCSenior;
	src: url(fonts/pcsenior.ttf); /* Font from https://www.1001fonts.com/pc-senior-font.html */
}

body{
	font-family: PCSenior;
	font-size: 10pt;
	color: #DCDCDC;
	background-color: #1E1E1E;
	width: 1000px;
	margin: 10px auto;
	line-height: 1.3;
}

/* Home */
.visibility, .class{
	color: #569CD6;
}

.object{
	color: #4EC9B0;
}

.string, .string a:link, .string a:visited{
	color: #D69D85;
	text-decoration: none;
}

/* Game Pages */
#game {
	padding-left: 1em;
	margin-right: 15px;
	float: left;
	width: 1000px;
}

#game_logo {
	margin-top: 20px;
}

#game_logo img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

aside#screenshots{
	float: right;
	width: 300px;
}

#unityContainer{
	width: 100%;
	height: auto;
}

/* Navigation */
#navigation{
	float:left;
}

#navigation ul{
	list-style-type: none;
	padding-left: 2em;
}

#navigation a:link, #navigation a:visited{
	color: #DCDCDC;
	text-decoration: none;
}

#navigation a:hover{
	color: #569CD6;
}

/* Misc. */ 
a{
	color: #DCDCDC;
}

a:hover{
	color: #569CD6;
}

/* Desenho Responsivo*/
@media(max-width: 1020px){
	body{
		width: calc(100% - 20px);
		margin: 10px;
	}

	#game_logo img {
		width: 400px;
	}
}

@media(max-width: 699px){

	#game {
		width: calc(100% - 20px);
	}
}

@media(max-width: 400px){
	#game_logo img {
		width: 100%;
	}
}
