@font-face {
	font-family: PCSenior;
	src: url(fonts/pcsenior.ttf); /* Font from https://www.1001fonts.com/pc-senior-font.html */
}

body{
	font-family: PCSenior;
	font-size: 10pt;
	color: #DCDCDC;
	background-color: #1E1E1E;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Home */
.visibility, .class{
	color: #569CD6;
}

.object{
	color: #4EC9B0;
}

.string{
	color: #D69D85;
}

/* About */
#about{
	padding-left: 2em;
}

#about a:link, #about a:visited{
	color: #569CD6;
	text-decoration: none;
}


/* Navigation */
#navigation ul{
	list-style-type: none;
	padding-left: 2em;
}
#navigation a:link, #navigation a:visited{
	color: #DCDCDC;
	text-decoration: none;
}
#navigation a:hover{
	color: #569CD6;
}